@using BlogApp.Dtos.PostDtos

@model PostDto

<div class="container mt-4">
    <div class="card shadow-sm border-0">
        <img src="@Model.Image" class="card-img-top img-fluid" alt="Post Image" style="max-height: 400px; object-fit: cover;" />
        <div class="card-body">
            <h2 class="card-title">@Model.Title</h2>
            <span class="badge bg-gradient mb-3 @GetCategoryColor(Model.CategoryDto.Name)">@Model.CategoryDto?.Name</span>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>

    <div class="bg-white mt-4">
        <div class="card border-0">
            <div class="card-header pb-0">
                <h4><span id="commentCount">@Model.CommentDtos.Count() adet yorum var.</span></h4>
            </div>
            <div class="card-body">
                <div id="comments">
                    @foreach (var comment in Model.CommentDtos)
                    {
                        <div class="my-4 d-flex">
                            <img src="@comment.UserDto.UserProfile" class="avatar rounded-circle me-3" alt="User Avatar" style="width: 50px; height: 50px; object-fit: cover;">
                            <div>
                                <h6 class="fw-bold">@comment.UserDto.UserName</h6>
                                <span class="text-muted small">@comment.CreatedDate.ToString("dd MMM yyyy HH:mm")</span>
                                <p class="mt-2">@comment.Text</p>
                            </div>
                        </div>
                    }
                </div>

                @if (User.Identity!.IsAuthenticated)
                {
                    <hr class="my-4">
                    <div>
                        <h4 class="mb-3">Yorum Ekle</h4>
                        <form action="/posts/AddComment" method="post">
                            <input type="hidden" id="PostId" name="PostId" value="@Model.Id">
                            <div class="mb-3">
                                <label for="Text" class="form-label">Yorum</label>
                                <textarea name="Text" id="Text" class="form-control" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="submit" id="btnYorumKayit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    </div>
                }
                else
                {
                    <p>Yorum yapmak için <a href="/users/login">giriş yapın</a>.</p>
                }
            </div>
        </div>
    </div>
</div>

@functions {
    public string GetCategoryColor(string categoryName)
    {
        switch (categoryName)
        {
            case "Web Programlama":
                return "bg-primary";
            case "Backend":
                return "bg-success";
            case "Frontend":
                return "bg-info";
            case "Oyun Geliştirme":
                return "bg-warning";
            case "Mobil":
                return "bg-danger";
            default:
                return "bg-secondary";
        }
    }
}